
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  display: flex;
  height: 100px;
  background-color: white;
  align-items: center;
  justify-content: space-around;
  padding: 0 5%;
}



/* Flynn Button */
.flynn-button {
  -webkit-appearance: none;
  width: 141;
  height: 30px;
  margin-left:20.5px;
  margin-right: 20.5px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 13px;
  transition: ease-in-out .25s;
}

.flynn-button:hover {
  background-color: #000033;
  color: white;
  transition: ease-in-out .25s;
}


.sm-row {
  padding-top: 16px;
}
.sm-icons {

  margin-left:5px;
  margin-right: 5px;
}