
/* NAV BAR SECTION */

#nav-bar {
  background-color: white;
  display: flex;
  padding-top: 10px;
  height: 100px; 
  position: fixed;
  width: 100%;
}

div #logo{
  width: 30%;
  margin-left: 15%;
  align-items: center;
  display: flex;
}

#nav-bar img {
  height: 60%;
}

#nav-bar a {
  text-decoration: none;
  color: black;
  font-size: 13pt;
  text-align: center;
}

div #links{
  width: 50%;
  justify-content: space-between;
  align-content: center;
  text-align: right;
  margin-right: 15%;
  display: flex;
  align-items: center;
  margin-left: 30%;
}

div #links button{
  border-radius: 4px;
  border: 1px solid black;
  font-size: 10pt;
}


/* HEADER SECTION */

#header {
  display: flex;
  align-content: center;
  justify-content: space-around;
}

container{
  margin-top: 8%;
  width: 70%;
  height: 1080px;
  background: url("https://i.imgur.com/44kUpEV.png") no-repeat;
  background-color: rgb(255, 255, 255, 0.3);
  justify-content: center;
  align-items: center;
  display: flex;
}

container button {
  border-radius: 5px;
}


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  height: 100px;
  background-color: white;
  align-items: center;
  justify-content: space-around;
  padding: 0 5%;
}



/* Flynn Button */
.flynn-button {
  -webkit-appearance: none;
  width: 141px;
  height: 30px;
  margin-left:20.5px;
  margin-right: 20.5px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 13px;
  transition: ease-in-out .25s;
}

.flynn-button:hover {
  background-color: #000033;
  color: white;
  transition: ease-in-out .25s;
}


.sm-row {
  padding-top: 16px;
}

.sm-icons {

  margin-left:5px;
  margin-right: 5px;
}

.arepa-img {
  width: 536px;
  height: 512px;
}