/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Grid
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */
.container {
  position: relative;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 0%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


/* Base Styles
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */


@import url('https://fonts.googleapis.com/css?family=Catamaran&display=swap');


p {
  font-family: 'Catamaran', sans-serif;
}
html {
  font-size: 62.5%; }
body {
  font-size: 1.5em;
  line-height: 1.8;
  font-weight: 400;
  font-family: 'Catamaran', sans-serif;
  color: #060403; 
  background-color: #f1f2f6; 
  margin-top: 0;
  }




/* Typography
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2.5rem;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
   }
h1 { font-size: 4.5rem; line-height: 1.2;  letter-spacing: -.1rem; font-weight: 600;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem;}
h5 { font-size: 1.2rem; line-height: 1.5;  letter-spacing: .1rem; margin-bottom: .2rem; text-transform: uppercase; font-weight: 600; font-family: "Work Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h6 { font-size: 1.7rem; line-height: 1.6;  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 1.3rem; }
  h6 { font-size: 1.5rem; }
}

p {
  margin-top: 0; color: #060403; letter-spacing: -.05rem;}

p.baseline {
	margin-top: 1.1rem;	
}

h1.branding {
	font-size: 4rem; float: left; margin: 1rem 0 2rem 0;
}

h1.branding a {
	color: #333;
	text-decoration: none;	
}

h1.branding a:hover {
  color: #86bca6; }
  
img.whatIDo {
	margin: 20px auto; display: block; text-align: center;
}

/* Larger than phablet */
@media (min-width: 550px) { 
	h1.branding {
		font-size: 4rem; float: left; margin: 4.5rem 0;
	}
	img.whatIDo {
	margin: 20px 0; display: block;
}

}

/* Hero Area */

.hero-container{
  height: 900px;
  margin-left: auto;
  margin-right: auto;
  background: url('./assets/hero.png') no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.hero-text{
  color: black;
  font-size: 30pt;
  width: 100%;
  text-align: center;
}

.hero-button-container {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}


img.logo {
  margin: 20px 0 0 80px; 
  display: block; 
  text-align: left;
}


/* Social Media Wrapper */
.social-wrapper{
  margin-left: 72px;
  margin-bottom: 48px;
  justify-content: space-between;
}

.sm-icons {

  margin-left:5px;
  margin-right: 5px;
}


/* About Box */

.about-text-left {
  margin-top: 62px;
  margin-right: 97px;
  margin-bottom: 61px;
  margin-left: 97px;
  max-width: 100%;
}

.about-text-right {
  margin-top: 147px;
  margin-right: 97px;
  margin-bottom: 61px;
  margin-left: 97px;
}


/* Pic Section */
#picsection{
  display: grid;
  grid-template-rows: 250px 250px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px 10px;
  margin-bottom: 85px;
  margin-top: 60px;
}


.hero-text{
  color: black;
  font-size: 30pt;
  width: 60%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-button-container {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


/* Hero Button */
.hero-button {
  -webkit-appearance: none;
  margin-left:20px;
  margin-right: 20px;
  text-align: center;
  background-color: white;
  border: .5px solid black;
  border-radius: 5px;
  font-size: 13px;
  transition: ease-in-out .25s;
}

.hero-button:hover {
  background-color: #000033;
  color: white;
  transition: ease-in-out .25s;
}

/* Flynn Button */

.flynn-button {
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 12px;
  transition: ease-in-out .25s;
  text-align: center;
  margin-top: -20px;
}

.flynn-button:hover {
  background-color: #000033;
  color: white;
  transition: ease-in-out .25s;
}


/* Contact Button */

.contact-button {
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 13px;
  transition: ease-in-out .25s;
  text-align: center;
  flex-direction: end;
}

.contact-button:hover {
  background-color: #000033;
  color: white;
  transition: ease-in-out .25s;
}

/* About Area Text */
.about-area-p{
  font-size: 15px;
  line-height: 18pt;
  letter-spacing: 1pt;
  font-family: 'Catamaran', sans-serif;
}


/* Map Button */

.map-button {
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 13px;
  transition: ease-in-out .25s;
  text-align: center;
  margin-top: 24px;
}

.map-button:hover {
  background-color: #000033;
  color: white;
  transition: ease-in-out .25s;
}


.about-area-header{
  font-size: 20px;
  font-weight: 500px;
  line-height: 18pt;
  letter-spacing: 2.67pt;
}


.black-line { 
  border-bottom: 5px solid black;
}
/* Menu */

.switch-food{
  display: flex;
  font-size: 30pt;
  padding-bottom: 64px;
  float: right;
  margin-right: 48px;
}

.switch-drink{
  padding-bottom: 64px;
  font-size: 30pt;

}

.menu-title{
  font-size: 25px;
  line-height: 18pt;
  letter-spacing: 1pt;
  margin-bottom: 28pt;
  margin-top: 42px;

}

.menu-p{
font-size: 15px;
line-height: 18pt;
letter-spacing: 1pt;
}

.menu-sub-h{
  font-size: 15px;
  line-height: 18pt;
  letter-spacing: 1pt;
  margin-top: 36px;
  }

/* Location */

.location-title{
  font-size: 25px;
  line-height: 18pt;
  letter-spacing: 1pt;
  margin-bottom: 28pt;
}


.location-title-white{
  font-size: 25px;
  line-height: 18pt;
  letter-spacing: 1pt;
  margin-bottom: 28pt;
  color: white;
  margin-top: 28px;
}


.location-p{
  font-size: 15px;
  line-height: 18pt;
  letter-spacing: 1pt;
  }

  .menu-p{
    font-size: 12px;
    line-height: 18pt;
    letter-spacing: 1pt;
    }

  .location-header{
    width: 50%;
    margin-left: 1%;
  }

/* Footer */

.footer-area {
  display: flex;
  align-content: left;
  justify-content: left;
  background-color: black;
  margin-top: 7px;
}

.footer-p {
  display: block;
  margin-top: 49px;
  margin-left: 45px;
  margin-bottom: 43px;
  color: white;
  text-transform: uppercase;

}


.map-container {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}


/* Responsive   */
.responsive-image {
  position: relative;
  max-width: 100%;
}

.map-responsive-image {
  position: relative;
  max-width: 100%;
  margin-top: 48pt;
}


.arepa-responsive-image-r {
  position: relative;
  max-width: 100%;
  margin-bottom: 7pt;
}

.arepa-responsive-image {
  position: relative;
  max-width: 100%;
  margin-bottom: 70pt;
}

.arepa-header-text{
  font-size: 25px;
  font-weight: 500;
}

.responsive-image__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header-spacer{
justify-content: space-between
}

.workDescription p {
font-size: 1.3rem;	
}

ul.resumeList {
margin:0;}

ul.resumeList li {
font-size: 1.3rem; margin: 0 0 1rem 3rem; text-indent:-2.5rem; list-style-type: circle; color: #666;}

.caption, caption { font-size: 1.2rem; display: block; color: #aaa; margin: 0 0 3rem 0;}

.tldr {font-family: "Work Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
text-transform: uppercase; letter-spacing: 0.1rem; font-weight: 600; }

/* Links
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */
a {
  color: #9fcebb; }
a:hover {
  color: #86bca6; }


/* Buttons
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }


/* Forms
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }


/* Lists
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }
  
  
/* nav styles */
  
ul.mainNav {
		list-style-type: none;
		text-align: right;
		overflow: hidden;
		border: #dddcd0 solid 1px;
		border-right: none;
		border-left: none;
		display: inline-block;
    clear: both;
	}
	
	ul.mainNav li {
		float: left;
		padding: 0;
}
	
	ul.mainNav li a {
		text-align: center;
		padding: 2.0rem 2.5rem 0 0 ;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1.2rem;
		letter-spacing: 0.1rem; 
		font-weight: 600;
		display: block;
	}
	
	ul.mainNav li a.active  {
		color: #333;	
	}
/* Larger than phablet */
@media (min-width: 550px) {  
	ul.mainNav {
		border: none;
		margin: 4.4rem 0 1rem 0;
		display: inline-block;
		clear: none;
	}
		ul.mainNav li a {
		padding: .2rem 0 0 3rem;
    }

    img.logo {
      margin: 20px 0 0 80px; 
      display: block; 
      justify-content: cente;
      justify-items: center;
    }
}

/* Code
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Tables
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }


/* Utilities
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */

hr {
  margin-top: 3.5rem;
  margin-bottom: 4rem;
  border-width: 0;
  border-bottom: 2px solid #dddcd0;
  border-top: 2px #fff solid; }

.container hr {
  margin-top: 2rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-bottom: 2px dotted #dddcd0;}
  
/* Larger than phablet */
@media (min-width: 550px) { 
hr {
  margin-top: 4.5rem;
  margin-bottom: 5rem;
   }

.container hr {
  margin-top: 3.5rem;
  margin-bottom: 5rem; }

}
/* Clearing
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/* Media Queries
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}